/*http://stackoverflow.com/questions/8061166/syntax-to-include-separate-sass-file*/
/* @import "normalize"; */
/* line 6, ../sass/default.scss */
.mcmButton {
  background-color: #dddddd;
  border: solid 3px #555555;
  font-weight: bold;
  color: #888888;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  cursor: pointer; }
  /* line 14, ../sass/default.scss */
  .mcmButton :hover {
    background-color: #ffffff; }

/* line 19, ../sass/default.scss */
.creatingNewMap {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove #333;
  border: solid 1px #000;
  padding: 10px; }
  /* line 30, ../sass/default.scss */
  .creatingNewMap label {
    width: 20em; }

/* line 35, ../sass/default.scss */
.displayNone {
  display: none; }

/* line 44, ../sass/default.scss */
.mapsList {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%; }
  /* line 49, ../sass/default.scss */
  .mapsList .list {
    margin: 5px;
    text: 18px;
    border: 1px solid #aaa;
    -moz-border-radius: 5px / 5px;
    -webkit-border-radius: 5px 5px;
    border-radius: 5px / 5px;
    margin-bottom: 3px;
    padding: 3px;
    background-color: #888;
    /*background-color: #ccc;
    background-color: #aaf;*/ }
    /* line 60, ../sass/default.scss */
    .mapsList .list th {
      background-color: #aaf;
      border: 1px solid black;
      padding: 5px; }
    /* line 65, ../sass/default.scss */
    .mapsList .list td {
      border: 1px solid black;
      padding: 5px; }

/*
.mcm_map_tools{
	z-index: 10;
	position: relative;
	ul {
		position: relative;

		li {
			@include border-radius(10px, 10px);
			list-style-type: none;
			left: -$variable_font_size/2;
			@include transition-property(color);
			@include transition-duration(0.3s);
			@include transition-timing-function(ease-in);
			@include box-shadow(3px 2px 3px 1px rgba(150, 150, 255, 0.75));
			&:hover{
				background-color: lighten($select_sub_entity_entity_color, 10%);
				color: darken($select_sub_entity_entity_color, 5%);
			}
		}
	}
}
*/
