/*http://stackoverflow.com/questions/8061166/syntax-to-include-separate-sass-file*/
/* @import "normalize"; */
/* line 6, ../sass/default.scss */
.mcmButton {
  background-color: #dddddd;
  border: solid 3px #555555;
  font-weight: bold;
  color: #888888;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  cursor: pointer; }
  /* line 14, ../sass/default.scss */
  .mcmButton :hover {
    background-color: #ffffff; }

/* line 19, ../sass/default.scss */
.creatingNewMap {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  /*    border: 2px groove #333;
      border: solid 1px #000;
  */
  padding: 10px; }
  /* line 30, ../sass/default.scss */
  .creatingNewMap label {
    width: 20em; }

/* line 35, ../sass/default.scss */
.displayNone {
  display: none; }

/* line 44, ../sass/default.scss */
.mapsList {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  background-image: url("../../../app/img/ESB_Logo_small.png");
  background-repeat: no-repeat;
  background-position-x: 36.5em;
  background-position-y: -0.3em; }
  /* line 53, ../sass/default.scss */
  .mapsList .description {
    color: #aaf; }
  /* line 57, ../sass/default.scss */
  .mapsList .table_title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em; }
  /* line 62, ../sass/default.scss */
  .mapsList .list {
    margin: 5px;
    text: 18px;
    border: 1px solid #aaa;
    -moz-border-radius: 5px / 5px;
    -webkit-border-radius: 5px 5px;
    border-radius: 5px / 5px;
    margin-bottom: 3px;
    padding: 3px;
    background-color: #888;
    /*background-color: #ccc;
    background-color: #aaf;*/ }
    /* line 66, ../sass/default.scss */
    .mapsList .list .active-selection {
      background-color: #f99 !important;
      color: #a00 !important; }
    /* line 71, ../sass/default.scss */
    .mapsList .list tr:nth-child(even) {
      background: #ccc; }
    /* line 72, ../sass/default.scss */
    .mapsList .list tr:nth-child(odd) {
      background: #aaa; }
    /* line 74, ../sass/default.scss */
    .mapsList .list tr:hover {
      cursor: pointer;
      background-color: #ffb !important; }
    /* line 86, ../sass/default.scss */
    .mapsList .list th {
      background-color: #aaf;
      border: 1px solid black;
      padding: 5px; }
    /* line 91, ../sass/default.scss */
    .mapsList .list td {
      border: 1px solid black;
      padding: 5px; }
  /* line 98, ../sass/default.scss */
  .mapsList .buttons {
    text-align: left; }
