<div class="mcm_list_component">
    <md-content>
        <md-list>
            <md-list-item [class.selected]="item === itemSelected" class="md-1-line" (click)="onEnterItemClicked(item); $event.stopPropagation()" *ngFor="let item of itemContainer?.children">
                {{ item?.node?.kNode?.name }}
                <span flex></span>
                <button md-button class="md-icon-button md-primary" aria-label="Options" (click)="onClicked(item); $event.stopPropagation()">
                    <i title="Enter" md-icon>reorder</i>
                </button>
            </md-list-item>
        </md-list>
    </md-content>
</div>
