<div class="mcm_list_component">
  <md-content>
    <md-list>
      <md-list-item [class.selected]="item === itemSelected" class="md-1-line" (click)="onEnterItemClicked(item); $event.stopPropagation()" *ngFor="let item of itemContainer?.children">
        <span  md-line>
          {{ item?.node?.kNode?.name }}
        </span>
        <span class="states-actions">
                  <span class='item-collaboration' [hidden]="!_existsDialogueOverItem(item)">
                      <md-icon title="collaboration">speaker_notes</md-icon>
                  </span>
        <span class='item-approval' [hidden]="!isDisapproved(item)">
                      <md-icon title="disapproved">thumb_down</md-icon>
                  </span>
        </span>
        <span flex></span>
        <button md-button class="md-icon-button md-primary" aria-label="Options" (click)="onClicked(item); $event.stopPropagation()">
          <md-icon title="Enter">reorder</md-icon>
        </button>
      </md-list-item>
    </md-list>
  </md-content>
</div>
