<div class="mcm_title">{{title}}
	<div class="mcm_close" ng-click="cancelled()">X</div>
</div>
<!-- <div class="mcm_path">
	<div class="mcm_label">Path:</div>
	<div class="mcm_value">{{path}}</div>
</div> -->
<div class="list">
</div>

<div class="assumption_selector">
	<span class="select_category" ng-click="selectCategory()">{{selectedCategory.title}}</span><br/>
	<input class="assumption_name" type="text" placeholder="type assumption name ..." ng-model="item.name" ng-change="nameChanged()"/>
	<button class="btn btn-primary" type="submit" ng-click="addNewEntity()">{{addNewEntityLabel}}</button>
</div>

<div class="assumptions">
	<!-- <span>Assumptions:</span> -->
	<table class="list" >
		<tr><th class="title_name">{{listTitle}}</th></tr>
		<tr data-ng-click="selectItem(item)" ng-repeat="item in items" data-ng-class="{'active-selection': item.name == selectedItem.name}">
			<td>{{ (selectedCategory.status == 'selecting') ? "" : item.category + " : "}} <b>{{item.name}}</b></td>
		</tr>
	</table>
</div>

<p class="buttons">
	<button class="btn btn-primary" type="submit" ng-click="submitted()">Add Assumption</button>
	<button class="btn btn-warning" ng-click="cancelled()">Cancel</button>
</p>