<style type="text/css">
	.halo {
		position: absolute;
		pointer-events: none;
	}

	.halo.animate>div {
		transition: background-size 80ms, width 80ms, height 80ms, top 150ms,left 150ms, bottom 150ms,right 150ms;
	}

	.halo .handle {
		cursor: pointer;
	}

	.halo>div {
		position: absolute;
		pointer-events: auto;
		width: 20px;
		height: 20px;
		background-size: 20px 20px;
		background-repeat: no-repeat;

		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		user-select: none;
		-webkit-user-drag: none;
		user-drag: none;
	}

	.halo .handle.nw {
		top: -21px;
		left: -25px;
	}
	.halo .remove {
		cursor: pointer;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFW…6MVLTj5QOJipFs+VCqYixXsZioWM1GLaf7yK45ZT1/CzAAESidXQn9F/MAAAAASUVORK5CYII=);
	}

	.halo .handle.n {
		top: -22px;
		left: 50%;
		margin-left: -10px;
	}
	.halo .clone {
		cursor: move;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFW…NhXuOkTv/n7hTqwbFwN5DDVGcMHVIsM2fVu7lXt7s7vQQYAIMHB7xhVbHdAAAAAElFTkSuQmCC);
	}

	.halo .handle.e {
		right: -25px;
		top: -webkit-calc(50% - 10px);
		top: calc(50% - 10px);
	}

	.halo .link {
		cursor: move;
		cursor: -moz-grabbing;
		cursor: -webkit-grabbing;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFW…dECKF8lVLCWttTuvekx9+MPmzDHut4yzrQsz5hDn+0PQUYAOGQcmTsT0IpAAAAAElFTkSuQmCC);
	}

	.halo .handle.ne {
		top: -21px;
		right: -25px;
		}
		.halo .fork {
		cursor: move;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR…QCSwmTh+hTEh4YTwUCF+D6DRNPcTuuPpD8/UhWfShtNFQe+d/oVK9MAB0AAAAASUVORK5CYII=);
	}

	.halo .handle.w {
		left: -25px;
		top: 50%;
		margin-top: -10px;
	}
	.halo .unlink {
		cursor: pointer;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFW…4Ss5yCLaiz4S3isyv6W8QXAbHXRaDI1ac+LvSHcC68BRgAHv/CnODh8mEAAAAASUVORK5CYII=);
	}

	.halo .handle.sw {
		bottom: -25px;
		left: -25px;
	}
	.halo .rotate {
		cursor: move;
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFW…Hrbie1IdNUeRe6UNLVRB72Nh1v9zfQR/+FSbf6afsIMAB0elCwFZfPigAAAABJRU5ErkJggg==);
	}

	.halo .handle.s {
		bottom: -24px;
		left: 50%;
		margin-left: -10px;
	}

	.halo .handle.se {
		bottom: -25px;
		right: -25px;
	}

	.halo .box {
		position: absolute;
		top: 100%;
		margin-top: 30px;
		left: -20px;
		right: -20px;
		text-align: center;
		color: #fff;
		font-size: 10px;
		line-height: 14px;
		background-color: #1ABC9C;
		border-radius: 6px;
		padding: 6px;
	}
	label {
		display: inline-block;
		margin-bottom: 5px;
		font-weight: bold;
	}
</style>
<div class="halo animate" data-type="basic.Rect" style="width: 200px; height: 20px; left: 35px; top: 10px;">
	<div class="handle nw remove" draggable="false" data-action="remove">    
	</div>

	<div class="handle n clone" draggable="false" data-action="clone"></div>

	<div class="handle e link" draggable="false" data-action="link"></div>

	<div class="handle ne fork" draggable="false" data-action="fork"></div>

	<div class="handle w unlink" draggable="false" data-action="unlink" style="display: none;"></div>

	<div class="handle sw rotate" draggable="false" data-action="rotate"></div>

	<div class="handle s analysis-params" draggable="false" data-action="analysis-params" style="background-image: url(/img/analysis-params.png)"></div>

	<div class="handle se show-params" draggable="false" data-action="show-params" style="background-image: url(/img/show-params.png)"></div>

	<label class="box">x: 35, y: 10, width: 200, height: 20, angle: 0</label>
</div>