<div class="halo animate" data-type="basic.Rect" style="width: 200px; height: 20px; left: 35px; top: 10px;">
	<div class="handle nw remove" draggable="false" data-action="remove"></div>
	<div class="handle n clone" draggable="false" data-action="clone"></div>
	<div class="handle e link" draggable="false" data-action="link"></div>
	<div class="handle ne fork" draggable="false" data-action="fork"></div>
	<div class="handle w unlink" draggable="false" data-action="unlink" style="display: none;"></div>
	<div class="handle sw rotate" draggable="false" data-action="rotate"></div>
	<div class="handle s analysis-params" draggable="false" data-action="analysis-params" style="background-image: url(/img/analysis-params.png)"></div>
	<div class="handle se show-params" draggable="false" data-action="show-params" style="background-image: url(/img/show-params.png)"></div>

	<label class="box">x: 35, y: 10, width: 200, height: 20, angle: 0</label>
</div>