@charset "UTF-8";
/*http://stackoverflow.com/questions/8061166/syntax-to-include-separate-sass-file*/
/* @import "normalize"; */
/* line 4, ../sass/default.scss */
.halo {
  position: absolute;
  pointer-events: none; }
  /* line 9, ../sass/default.scss */
  .halo .handle {
    cursor: pointer; }
  /* line 12, ../sass/default.scss */
  .halo .icon {
    cursor: pointer;
    position: absolute;
    padding: 5px;
    margin: 5px;
    border: solid 3px rgba(150, 150, 255, 0.25);
    background-color: rgba(200, 200, 255, 0.25);
    -moz-box-shadow: 2px 1px 3px 1px rgba(100, 100, 255, 0.75);
    -webkit-box-shadow: 2px 1px 3px 1px rgba(100, 100, 255, 0.75);
    box-shadow: 2px 1px 3px 1px rgba(100, 100, 255, 0.75);
    -moz-border-radius: 10px / 10px;
    -webkit-border-radius: 10px 10px;
    border-radius: 10px / 10px;
    pointer-events: auto;
    /*		width: 20px;
    		height: 20px;
    		background-size: 20px 20px;
    		background-repeat: no-repeat;
    */
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none; }
  /* line 31, ../sass/default.scss */
  .halo .w {
    left: -45px;
    top: 30px; }
  /* line 35, ../sass/default.scss */
  .halo .e {
    right: -55px;
    top: 30px; }
  /* line 39, ../sass/default.scss */
  .halo .n {
    left: calc(50% - 20px);
    top: -48px; }
  /* line 43, ../sass/default.scss */
  .halo .s {
    left: calc(50% - 20px);
    bottom: -55; }

/* line 49, ../sass/default.scss */
.halo.animate > div {
  transition: background-size 80ms, width 80ms, height 80ms, top 150ms,left 150ms, bottom 150ms,right 150ms; }

/* line 54, ../sass/default.scss */
.halo .handle.nw {
  top: -21px;
  left: -25px; }

/* line 58, ../sass/default.scss */
.halo .remove {
  cursor: pointer;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFW…6MVLTj5QOJipFs+VCqYixXsZioWM1GLaf7yK45ZT1/CzAAESidXQn9F/MAAAAASUVORK5CYII=); }

/* line 63, ../sass/default.scss */
.halo .handle.n {
  top: -22px;
  left: 50%;
  margin-left: -10px; }

/* line 68, ../sass/default.scss */
.halo .clone {
  cursor: move;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFW…NhXuOkTv/n7hTqwbFwN5DDVGcMHVIsM2fVu7lXt7s7vQQYAIMHB7xhVbHdAAAAAElFTkSuQmCC); }

/* line 73, ../sass/default.scss */
.halo .handle.e {
  right: -25px;
  top: -webkit-calc(50% - 10px);
  top: calc(50% - 10px); }

/* line 79, ../sass/default.scss */
.halo .link {
  cursor: move;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFW…dECKF8lVLCWttTuvekx9+MPmzDHut4yzrQsz5hDn+0PQUYAOGQcmTsT0IpAAAAAElFTkSuQmCC); }

/* line 86, ../sass/default.scss */
.halo .handle.ne {
  top: -21px;
  right: -25px; }

/* line 90, ../sass/default.scss */
.halo .fork {
  cursor: move;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABmJLR…QCSwmTh+hTEh4YTwUCF+D6DRNPcTuuPpD8/UhWfShtNFQe+d/oVK9MAB0AAAAASUVORK5CYII=); }

/* line 95, ../sass/default.scss */
.halo .handle.w {
  left: -25px;
  top: 50%;
  margin-top: -10px; }

/* line 100, ../sass/default.scss */
.halo .unlink {
  cursor: pointer;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFW…4Ss5yCLaiz4S3isyv6W8QXAbHXRaDI1ac+LvSHcC68BRgAHv/CnODh8mEAAAAASUVORK5CYII=); }

/* line 105, ../sass/default.scss */
.halo .handle.sw {
  bottom: -25px;
  left: -25px; }

/* line 109, ../sass/default.scss */
.halo .rotate {
  cursor: move;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFW…Hrbie1IdNUeRe6UNLVRB72Nh1v9zfQR/+FSbf6afsIMAB0elCwFZfPigAAAABJRU5ErkJggg==); }

/* line 114, ../sass/default.scss */
.halo .handle.s {
  bottom: -24px;
  left: 50%;
  margin-left: -10px; }

/* line 120, ../sass/default.scss */
.halo .handle.se {
  bottom: -25px;
  right: -25px; }

/* line 125, ../sass/default.scss */
.halo .box {
  position: absolute;
  top: 100%;
  margin-top: 30px;
  left: -20px;
  right: -20px;
  text-align: center;
  color: #fff;
  font-size: 10px;
  line-height: 14px;
  background-color: #1ABC9C;
  border-radius: 6px;
  padding: 6px; }

/* line 139, ../sass/default.scss */
label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold; }
