<div class="mcm_title">{{title}}
	<div class="mcm_close" ng-click="cancelled()">X</div>
</div>
<!-- <div class="mcm_path">
	<div class="mcm_label">Path:</div>
	<div class="mcm_value">{{path}}</div>
</div> -->
<div class="list">
</div>

<input class="variable_quantity_name" type="text" placeholder="type variable quantity name ..." ng-model="item.name" ng-change="nameChanged()"/>
<button class="btn btn-primary" type="submit" ng-click="addNewEntity()">{{addNewEntityLabel}}</button>

<div class="variable_quantitys">
	<!-- <span>Variable Quantities:</span> -->
	<table class="list" >
		<tr><th class="title_name">Variable Quantities</th></tr>
		<tr data-ng-click="selectItem(item)" ng-repeat="item in items" data-ng-class="{'active-selection': item.name == selectedItem.name}">
			<td>{{item.name}}</td>
		</tr>
	</table>
</div>

<p class="buttons">
	<button class="btn btn-primary" type="submit" ng-click="submitted()">Add Variable Quantity</button>
	<button class="btn btn-warning" ng-click="cancelled()">Cancel</button>
</p>