<div class="mcm_title">{{title}}
	<div class="mcm_close" ng-click="cancelled()">X</div>
</div>
<!-- <div class="mcm_path">
	<div class="mcm_label">Path:</div>
	<div class="mcm_value">{{path}}</div>
</div>
 -->
 <div class="knalledge_map_selectable">
	<div knalledge_map class="knalledge_map_select_sub_entity" map-config="mapConfigForInjecting" map-data="mapDataForInjecting" node-selected=""></div>
</div>
<p class="buttons">
	<button class="btn btn-primary" type="submit" ng-click="submitted()">Add {{entityDecorating.name}}</button>
	<button class="btn btn-warning" ng-click="cancelled()">Cancel</button>
</p>