/*http://stackoverflow.com/questions/8061166/syntax-to-include-separate-sass-file*/
@import "../../../sass/include";
@import "/Library/Ruby/Gems/2.0.0/gems/font-awesome-sass-4.3.2.1/assets/stylesheets/font-awesome";

@font-face {
	font-family: "FontAwesome";
	src: url("../../../app/fonts/font-awesome/fontawesome-webfont.eot");
	src: url("../../../app/fonts/font-awesome/fontawesome-webfont.eot") format("embedded-opentype"),
	url("../../../app/fonts/font-awesome/fontawesome-webfont.woff") format("woff"),
	url("../../../app/fonts/font-awesome/fontawesome-webfont.ttf") format("truetype"),
	url("../../../app/fonts/font-awesome/fontawesome-webfont.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
$color_tool_border: gray;

$variable_font_size: 0.99999em;
$variable_border_size: 2px;

$drag-drop-bg-color: #29e;

$susy: (
	columns: 12,
	gutters: 1/8,
	math: fluid,
	/*output: float,*/
	output: isolate,
	gutter-position: inside,

	debug: (
		image: hide,
		color: red,
		output: background,
		toggle: top right,
	),
);

/*$map: layout(12 1/4 fluid float inside);*/
$map: layout(12 1/4 fluid isolate inside);

.breakpoint_debug{
	position: absolute;
	z-index: 2000;
	background-color: red;
	padding: 3px;
	top: 0px;
	left: 0px;
	display: none;

	.micro{
		display: block;
	}
	.small{
		display: none;
	}
	.medium{
		display: none;
	}
	.large{
		display: none;
	}
}

@include breakpoint($small) {
	.breakpoint_debug{
		.micro{
			display: none;
		}
		.small{
			display: block;
		}
		.medium{
			display: none;
		}
		.large{
			display: none;
		}
	}
	.mcm_map{
		height: 100%;
		min-height: 100%;
		@include span(10 at 1);
	}

	.mcm_map_tools{
		height: 100%;
		min-height: 100%;
		@include span(2 at 11);
	}

	.mcm_map_list{
		height: 100%;
		min-height: 100%;
		/*@include span(3 at 1); */
	}
}

@include breakpoint($medium) {
	.breakpoint_debug{
		.micro{
			display: none;
		}
		.small{
			display: none;
		}
		.medium{
			display: block;
		}
		.large{
			display: none;
		}
	}
	.mcm_map{
		@include span(9 at 1);
	}

	.mcm_map_tools{
		@include span(1 at 10);
	}

	.mcm_map_list{
		@include span(2 at 11);
	}
}

@include breakpoint($large) {
	.breakpoint_debug{
		.micro{
			display: none;
		}
		.small{
			display: none;
		}
		.medium{
			display: none;
		}
		.large{
			display: block;
		}
	}
	.mcm_map{
		/* make #content content occupying 2 cells less on large screens */
		@include span(8 at 3);
		&.no_visual_diagram{
			@include span(4 at 1);
			display: block;
			visibility: hidden;
		}
	}

	.mcm_map_tools{
		@include span(2 at 1);
		&.no_visual_diagram{
			@include span(2 at 4);
		}
	}

	.mcm_map_list{
		@include span(2 at 11);
		&.no_visual_diagram{
			@include span(5 at 6);
		}
	}
}

.mcm_map_index{
	position: relative;
	height: 100%;
	width: 100%;
	/*background-color: #dddd00;
	border: solid 1px #aaaa00;*/
	overflow-x: hidden;
	overflow-y: scroll;
}

#popupContainer{
	position: relative;

	.creatingNewMap{

	}
}

/* ------------------------
 mcm_map_tools
------------------------ */

.mcm_map_tools{
	z-index: 10;
	position: relative;
	height: 100%;
	/* neccessery to both dimensions be visible, to make dragging visible outside the dom borders */
	overflow: visible;
	/*	overflow-x: visible;
		overflow-y: scroll;
	*/
	ul {
		/* neccessery to both dimensions be visible, to make dragging visible outside the dom borders */
		overflow: visible;
		/*	overflow-x: visible;can-drop
			overflow-y: scroll;
		*/
		position: relative;

		li {
			text-align: center;
			position: absolute;
			list-style-type: none;
			display: block;
			border: 1px solid $color_tool_border;
			padding: 10px;
			padding-right: 12px;
			margin: 3px;
			min-width: 5em;
			width: 9em;
			text-align: center;
			@include border-radius(10px, 10px);
			/* http://compass-style.org/reference/compass/css3/box_shadow/#mixin-box-shadow */
			/* color h-shadow v-shadow blur spread color inset*/
			@include box-shadow(4px 3px 7px 2px rgba(150, 150, 255, 0.75));
			clear: both;

			span{
				position: relative;
				float: left;
				border-right: 1px solid lighten($drag-drop-bg-color, 25%);
				padding-right: 10px;
				margin-right: 5px;
				width: 2em;
			}
			.info{
				/*display: inline-block;*/
				position: relative;
				/*float: left;*/
				font-size: 0.7em;
			}
		}
	}
}

.draggable_tool{

}
/* ------------------------
 mcm_map
------------------------ */

.mcm_map{
	z-index: 8;
	position: relative;
	height: 100%;
	overflow: scroll;
}

@media print {
/*	#map-canvas {
		height: 650px;
	}
*/
}

.map-container{
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 5;
	position:relative;
	background-color: #ddddff;
	border: solid 1px #aaaaff;
	overflow-x: scroll;
	overflow-y: scroll;
	@include border-radius(10px, 10px);
/*	http://compass-style.org/reference/compass/css3/user_interface/#mixin-user-select
	http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting*/
	@include user-select(none);
}



.mcm_main{
	position: relative;
	height: 100%;
	width: 100%;
	z-index: 5;
	position:relative;
	background-color: #ddddff;
	border: solid 1px #aaaaff;
	overflow-x: scroll;
	overflow-y: scroll;
	@include border-radius(10px, 10px);
/*	http://compass-style.org/reference/compass/css3/user_interface/#mixin-user-select
	http://stackoverflow.com/questions/826782/css-rule-to-disable-text-selection-highlighting*/
	@include user-select(none);

	.toolbar {
		$border-color: #000050;
		.itemTitle {
			font-weight: bold;
		}
		.questionIcon{
			font-weight: bolder;
			font-size: 2.3em;
			margin-top: -0.3em;
			color: #fdffc0;
		}
		.commentIcon{
			color: #aaffaa;
		}
		.collaboration{
			padding: 3px;
			margin-left: 3px;
			margin-right: 3px;
			border-left: solid 1px $border-color;
			border-right: solid 1px $border-color;
			.collaboration-notification{
				padding-left: 3px;
				padding-right: 3px;
				color: #000090;
			}
		}
	}
}

.clickable_text{
	cursor: pointer;
}

.mcm_list_component{
	md-list{
		width: 100%;

		md-subheader{
			font-weight: bold;
			font-size: 1.2em;
		}
		.item-collaboration{
			// color: red;
			margin-left: 5px;
		}

		md-list-item{
			cursor: pointer;
			width: 100%;

			&:nth-child(even) {background: #fff}
			&:nth-child(odd) {background: #e8e8e8}

			&.selected{
				background-color: #fee;
				font-weight: bold;
				border-left: 5px dotted #bbb;
				margin-left: 3px;
				color: #f88;
			}
		}
	}
}
.map_svg{
	height: 100%;
	width: 100%;
	position: absolute;
	/*background-color: #ffffaa;*/
	z-index: 1;
}

.map_html{
	height: 100%;
	width: 100%;
	position: absolute;
	/*background-color: #ffffaa;*/
	z-index: 2;
}

$variable_color_in: #ff8888;
$variable_color_out: #8888ff;
$process_color: #88ff88;
$status_color: #88ff88;
.map_entity{
	min-width: 100px;
	height: 50px;
	position: absolute;
	background-color: #ccf;
	border: 3px solid gray;
	padding: 10px;
	margin: 3px;
	z-index: 1;
	@include border-radius(5px, 5px);
	/* http://compass-style.org/reference/compass/css3/box_shadow/#mixin-box-shadow */
	/* color h-shadow v-shadow blur spread color inset*/
	@include box-shadow(2px 1px 3px 1px rgba(150, 150, 255, 0.75));

	.status {
		position: absolute;
		left: -10px;
		top: -3px;
		background-color: $status_color;
		border: 2px solid darken($status_color, 35%);
		padding-left: 4px;
		padding-right: 4px;
		padding-top: 0px;
		padding-bottom: 0px;
		text-align: center;
		font-weight: bold;
		@include border-radius(10px, 10px);
	}

	.var_in {
		position: absolute;
		left: 1em;
		bottom: -$variable_font_size*1.5;

		font-size: $variable_font_size;
		text-align: center;
		font-weight: bold;

		padding-left: 0.3*$variable_font_size;
		padding-right: 0.3*$variable_font_size;
		padding-top: 0px;
		padding-bottom: 0px;

		/* http://sassme.arc90.com/ */
		background-color: lighten($variable_color_in, 25%);
		border: $variable_border_size solid darken($variable_color_in, 15%);
		color: darken($variable_color_in, 30%);
/*		@include border-bottom-left-radius($variable_font_size/2);
		@include border-bottom-right-radius($variable_font_size/2);
*/
/*		&:before {
			@include box-sizing(content-box);
			content: '';
			position: absolute;
			top: -$variable_border_size;
			left: -$variable_font_size/2;
			color: red;
			height: 50%;
			width: $variable_font_size/2;
			background: red;
			border: $variable_border_size solid red;
			@include skew(25deg, 0deg);
		}
		&:after {
			@include box-sizing(content-box);
			content: '';
			position: absolute;
			bottom: -$variable_border_size;
			left: -$variable_font_size/2;
			color: red;
			height: 50%;
			width: $variable_font_size/2;
			background: red;
			border: $variable_border_size solid red;
			@include skew(-25deg, 0deg);
		}
*/	}
	.var_out {
		position: absolute;
		left: 1em + $variable_font_size*1.5;
		bottom: -$variable_font_size*1.5;
/*		height: $variable_font_size;
*/
		font-size: $variable_font_size;
		text-align: center;
		font-weight: bold;

		padding-left: 0.3*$variable_font_size;
		padding-right: 0.3*$variable_font_size;
		padding-top: 0px;
		padding-bottom: 0px;

		background-color: lighten($variable_color_out, 25%);
		border: $variable_border_size solid darken($variable_color_out, 15%);
		color: darken($variable_color_out, 30%);
/*		@include border-bottom-left-radius($variable_font_size/2);
		@include border-bottom-right-radius($variable_font_size/2);
*/
/*		&:before {
			@include box-sizing(content-box);
			content: '';
			position: absolute;
			top: -$variable_border_size;
			left: -$variable_font_size/2;
			color: red;
			height: 50%;
			width: $variable_font_size/2;
			background: red;
			border: $variable_border_size solid red;
			@include skew(25deg, 0deg);
		}
		&:after {
			@include box-sizing(content-box);
			content: '';
			position: absolute;
			bottom: -$variable_border_size;
			left: -$variable_font_size/2;
			color: red;
			height: 50%;
			width: $variable_font_size/2;
			background: red;
			border: $variable_border_size solid red;
			@include skew(-25deg, 0deg);
		}*/
	}
	.process {
		position: absolute;
		left: 1em + $variable_font_size*1.5*2;
		bottom: -$variable_font_size*1.5;
/*		height: $variable_font_size;
*/
		font-size: $variable_font_size;
		text-align: center;
		font-weight: bold;

		padding-left: 0.3*$variable_font_size;
		padding-right: 0.3*$variable_font_size;
		padding-top: 0px;
		padding-bottom: 0px;

		background-color: lighten($process_color, 25%);
		border: $variable_border_size solid darken($process_color, 15%);
		color: darken($process_color, 30%);
/*		@include border-bottom-left-radius($variable_font_size/2);
		@include border-bottom-right-radius($variable_font_size/2);
*/
	}	.type {
		position: absolute;
		right: -15px;
		bottom: -15px;
		background-color: rgba(200, 200, 255, 0.5);
		border: 2px solid rgba(100, 100, 255, 0.25);
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 0px;
		padding-bottom: 0px;
		text-align: center;
		font-weight: bold;
		font-size: 20px;
		color: #555f;
		font-style: italic;
		@include border-radius(5px, 5px);
	}
	.name {
		position: relative;
		padding: 3px;
		/*background-color: yellow;*/
	}

	&.has_children{
	}

	&.has_no_children{
	}

	$selected_color: #aaf;
	&.selected{
		border-color: $selected_color;
		border-width: 3px;
		/* color h-shadow v-shadow blur spread color inset*/
		@include box-shadow(5px 5px 3px 3px transparentize(darken($selected_color, 25%), 0.75));
	}

	&.unselected{
	}

/* entity stylings */

	&.entity_model{
		background-color: #ddd;
	}

	&.entity_grid{
		background-color: #ffa;
	}

	&.entity_object{
		background-color: #fff;
	}

	&.entity_process{
		background-color: #aaf;
	}

	&.resizable_map_entity{

	}
}

.draggable_map_entity{

}

/* ------------------------
 mcm_map_list
------------------------ */

$mcm_map_list_border: #888888;

.mcm_map_list{
	z-index: 9;

	.mcm_title{
		margin: 3px;
		display: block;
		border: 2px solid $mcm_map_list_border;
		background-color: lighten($mcm_map_list_border, 20%);
/*		@include border-top-right-radius(10px);
		@include border-top-left-radius(10px);
*/		transition: background-color 0.3s;

		.mcm_icon{
			display: inline-block;
			border-right: 2px solid $mcm_map_list_border;
			/*width: 2em;*/
			padding-left: 1em;
			padding-right: 1em;
			margin: 0.3em;
		}
		.selectable{
			cursor: pointer;
		}
		.mcm_name{
			display: inline-block;
			padding-right: 1em;
			padding-left: 0.3em;
			font-weight: bold;
			color: white;
		}
	}

	.mcm_title_open{
		border-bottom-width: 3px;
	}

	.mcm_title_closed{
		@include border-bottom-right-radius(10px);
		@include border-bottom-left-radius(10px);
		background-color: lighten($mcm_map_list_border, 10%);
	}

	.list{
		margin: 5px;

		$entity_settings_color: #ccffff;
		.entity{
			border: 1px solid #aaa;
			@include border-radius(5px, 5px);
			margin-bottom: 3px;
			padding: 3px;

			&.selectable{
				cursor: pointer;
			}
			&.expandable{
				cursor: pointer;
				font-weight: bold;
			}

			overflow-x: hidden;
			position: relative;
			display: block;
			width: 100%;
			.container{
				width: 200%;
				.name{
					position: relative;
					display: inline-block;
					word-wrap: break-word;
					width: 50%;
					padding-right: 2em;
					span {
					}
				}
				div{
					@include transition-property(color);
					@include transition-property(right);
					@include transition-duration(0.3s);
					@include transition-timing-function(ease-in);
				}
				.settings{
					position: relative;
					display: inline-block;
					width: 50%;
					right: 1.5em;
					top: 0em;
					background-color: $entity_settings_color;
					border: 2px solid darken($entity_settings_color, 25%);
					padding-left: 4px;
					padding-right: 4px;
					padding-top: 0px;
					padding-bottom: 0px;
					text-align: left;
					font-weight: bold;
					@include border-top-left-radius(10px);
					@include border-bottom-left-radius(10px);

					@include transition-property(color);
					@include transition-property(right);
					@include transition-duration(0.3s);
					@include transition-timing-function(ease-in);

					.setting{
						cursor: pointer;
					}
				}
			}
		}

		.entity_model{
			background-color: #888;
		}

		.entity_object{
			background-color: #ccc;
		}

		.entity_process{
			background-color: #aaf;
		}

		$entity_variable_color: #ffffcc;
		.entity_variable{
			background-color: $entity_variable_color;
			.container{
				.settings{
					.setting_ic, .setting_bc, .setting_sd, .setting_q, .setting_o{
						font-size: 0.8em;
						padding: 2px;
						padding-left: 4px;
						padding-right: 4px;
						margin: 1px;
						border: 1px solid $mcm_map_list_border;
						@include border-radius(7px, 7px);
					}
				}
			}
			.icon-type{
				color: #8888ff;
			}
		}
		.entity_assumption{
			background-color: #88ff88;
		}


	}
}

/* ------------------------
 interaction
------------------------ */

.dropzone {
/*	background-color: #ccc;
	border-radius: 4px;
	margin: 10px auto 30px;
	padding: 10px;
*/	transition: background-color 0.3s;
}

.drop-active {
	border: 3px dotted red;
}

.drop-target {
	background-color: #4bf;
	border-color: #f88;
	border-style: solid;
	border-width: 5px;
}

.drag-drop {
	display: inline-block;
	min-width: 40px;
	padding: 2em 0.5em;

	color: #fff;
	background-color: $drag-drop-bg-color;
	border: solid 2px #fff;

	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);

	transition: background-color 0.3s;
}

.drag-drop.can-drop {
	border: 3px solid green;
}

/*
	mcm_map_select_assumption
*/
$select_sub_entity_color: #888888;
$select_sub_entity_entity_color: #8888FF;
$select_sub_entity_title_size: 1em;

.mcm_map_select_assumption{
	position: absolute;
	width: 80%;
	z-index: 100;
	left: 50%;
	margin-left: -40%;
	top: 10%;
	height: 80%;
	min-height: 300px;
	padding: 15px;

	/* https://www.safaribooksonline.com/library/view/sass-and-compass/9781849694544/ch04s09.html
	https://robots.thoughtbot.com/controlling-color-with-sass-color-functions
	*/
	border: 3px solid transparentize(darken($select_sub_entity_color, 25%), 0.5);
	background-color: transparentize($select_sub_entity_color, 0.05);
	@include border-radius(15px);
	/* color h-shadow v-shadow blur spread color inset*/
	@include box-shadow(10px 10px 5px 5px transparentize(darken($select_sub_entity_color, 15%), 0.75));

	.mcm_title{
		border-bottom: 3px solid darken($select_sub_entity_color, 25%);
		background-color: $select_sub_entity_color;
		text-align: center;
		color: lighten($select_sub_entity_color, 35%);
		font-weight: bold;
		padding-top: 3px;
		padding-bottom: 3px;
		height: $select_sub_entity_title_size*1.5;
		@include border-top-right-radius(15px);
		@include border-top-left-radius(15px);
	}

	.mcm_close{
		position: absolute;
		background-color: #dddddd;
		border: solid 3px #555555;
		font-weight: bold;
		color: #888888;
		font-size: $select_sub_entity_title_size;
		padding: 0.1*$select_sub_entity_title_size;
		padding-left: $select_sub_entity_title_size;
		padding-right: $select_sub_entity_title_size;
		@include border-radius(15px);
		right: $select_sub_entity_title_size*0.1;
		top: $select_sub_entity_title_size*0.1;
		z-index: 101;

		cursor: pointer;

		&:hover{
			background-color: #ffffff;
		}
	}

	.mcm_path{
		display: block;
		border: 1px solid blue;
		@include border-top-right-radius(15px);
		@include border-top-left-radius(15px);
		height: $select_sub_entity_title_size;

		.mcm_label{
			display: inline-block;
			border-right: 1px solid orange;
			width: 5em;
		}
		.mcm_value{
			display: inline-block;
		}
	}

	.assumption_selector{
	}
	.select_category{
		position: relative;
		@include border-radius(10px, 10px);
		cursor: pointer;
		background-color: #ddddff;
		border: 1px solid #aaaaff;
		padding: 3px;
		padding-left: 5px;
		padding-right: 5px;
		margin: 3px;
		margin-top: 10px;
		margin-left: 10%;
	}
	.assumption_name{
		position: relative;
		margin-top: 10px;
		margin-left: 10px;
		@include border-radius(25px, 25px);
		background-color: white;
		padding: 5px;
		text-align: center;
		size:100;
		font-size: 22px;
		width: 60%;
		margin-left: 10%;
		/*margin-right: 10%;*/
		border: 0px solid rgba(0, 0, 0, 0);

		&:focus{
			outline: none;
		}
	}
	.assumptions{
		height: 50%;
		text-align: center;
		margin: 15px;
		overflow-y: auto;

		.list{
			width: 80%;
			margin-left: 10%;
			margin-right: 10%;
			text-align: center;
			.active-selection{
				background-color: #eee;
			}
			.title_name{
				font-weight: bold;
				color: white;
				text-align: center;
				background-color: #aaaaaa;
			}
			tr{
				 &:hover{
			     cursor: pointer;
			     background-color: #cccccc;
			  }
			}
			th, td {
				padding: 5px;
				padding-left: 50px;
				border-bottom: 1px solid black;
				text-align: left;
			}

			a{
				color: white;
				cursor: pointer;
			}
		}
	}


	ul {
		/* neccessery to both dimensions be visible, to make dragging visible outside the dom borders */
		overflow-y: scroll;
		position: relative;
		padding-left: 20%;
		padding-right: 20%;

		li {
			list-style-type: none;
			display: block;
			background-color: lighten($select_sub_entity_entity_color, 5%);
			border: 1px solid $select_sub_entity_entity_color;
			margin: 25px 10px;
			padding: 10px;
			padding-right: 25px;
			@include border-radius(10px, 10px);
			cursor: pointer;
			text-align: center;
			color: lighten($select_sub_entity_entity_color, 15%);
			/* http://compass-style.org/reference/compass/css3/box_shadow/#mixin-box-shadow */
			/* color h-shadow v-shadow blur spread color inset*/
			@include box-shadow(3px 2px 3px 1px rgba(150, 150, 255, 0.75));

			@include transition-property(color);
			@include transition-property(background-color);
			@include transition-duration(0.3s);
			@include transition-timing-function(ease-in);

			&:hover{
				background-color: lighten($select_sub_entity_entity_color, 10%);
				color: darken($select_sub_entity_entity_color, 5%);
			}
		}
	}

	.buttons{
		text-align: center;
	}
}

.mcm_map_select_variable_quantity{
	position: absolute;
	width: 80%;
	z-index: 100;
	left: 50%;
	margin-left: -40%;
	top: 10%;
	height: 80%;
	min-height: 300px;
	padding: 15px;

	/* https://www.safaribooksonline.com/library/view/sass-and-compass/9781849694544/ch04s09.html
	https://robots.thoughtbot.com/controlling-color-with-sass-color-functions
	*/
	border: 3px solid transparentize(darken($select_sub_entity_color, 25%), 0.5);
	background-color: transparentize($select_sub_entity_color, 0.05);
	@include border-radius(15px);
	/* color h-shadow v-shadow blur spread color inset*/
	@include box-shadow(10px 10px 5px 5px transparentize(darken($select_sub_entity_color, 15%), 0.75));

	.mcm_title{
		border-bottom: 3px solid darken($select_sub_entity_color, 25%);
		background-color: $select_sub_entity_color;
		text-align: center;
		color: lighten($select_sub_entity_color, 35%);
		font-weight: bold;
		padding-top: 3px;
		padding-bottom: 3px;
		height: $select_sub_entity_title_size*1.5;
		@include border-top-right-radius(15px);
		@include border-top-left-radius(15px);
	}

	.mcm_close{
		position: absolute;
		background-color: #dddddd;
		border: solid 3px #555555;
		font-weight: bold;
		color: #888888;
		font-size: $select_sub_entity_title_size;
		padding: 0.1*$select_sub_entity_title_size;
		padding-left: $select_sub_entity_title_size;
		padding-right: $select_sub_entity_title_size;
		@include border-radius(15px);
		right: $select_sub_entity_title_size*0.1;
		top: $select_sub_entity_title_size*0.1;
		z-index: 101;

		cursor: pointer;

		&:hover{
			background-color: #ffffff;
		}
	}

	.mcm_path{
		display: block;
		border: 1px solid blue;
		@include border-top-right-radius(15px);
		@include border-top-left-radius(15px);
		height: $select_sub_entity_title_size;

		.mcm_label{
			display: inline-block;
			border-right: 1px solid orange;
			width: 5em;
		}
		.mcm_value{
			display: inline-block;
		}
	}

	.variable_quantity_name{
		margin-top: 10px;
		margin-left: 10px;
		padding: 5px;
		text-align: center;
		size:100;
		font-size: 22px;
		width: 50%;
		margin-left: 10%;
		margin-right: 10%;
		@include border-radius(25px, 25px);
	}
	.variable_quantities{
		height: 50%;
		text-align: center;
		margin: 15px;
		overflow-y: auto;

		.list{
			width: 80%;
			margin-left: 10%;
			margin-right: 10%;
			text-align: center;
			.active-selection{
				background-color: #eee;
			}
			.title_name{
				font-weight: bold;
				color: white;
				text-align: center;
				background-color: #aaaaaa;
			}
			tr{
				 &:hover{
			     cursor: pointer;
			     background-color: #cccccc;
			  }
			}
			th, td {
				padding: 5px;
				padding-left: 100px;
				border-bottom: 1px solid black;
				text-align: left;
			}

			a{
				color: white;
				cursor: pointer;
			}
		}
	}

	ul {
		/* neccessery to both dimensions be visible, to make dragging visible outside the dom borders */
		overflow-y: scroll;
		position: relative;
		padding-left: 20%;
		padding-right: 20%;

		li {
			list-style-type: none;
			display: block;
			background-color: lighten($select_sub_entity_entity_color, 5%);
			border: 1px solid $select_sub_entity_entity_color;
			margin: 25px 10px;
			padding: 10px;
			padding-right: 25px;
			@include border-radius(10px, 10px);
			cursor: pointer;
			text-align: center;
			color: lighten($select_sub_entity_entity_color, 15%);
			/* http://compass-style.org/reference/compass/css3/box_shadow/#mixin-box-shadow */
			/* color h-shadow v-shadow blur spread color inset*/
			@include box-shadow(3px 2px 3px 1px rgba(150, 150, 255, 0.75));

			@include transition-property(color);
			@include transition-property(background-color);
			@include transition-duration(0.3s);
			@include transition-timing-function(ease-in);

			&:hover{
				background-color: lighten($select_sub_entity_entity_color, 10%);
				color: darken($select_sub_entity_entity_color, 5%);
			}
		}
	}

	.buttons{
		text-align: center;
	}
}

.mcm_map_select_variable_operator{
	position: absolute;
	width: 80%;
	z-index: 100;
	left: 50%;
	margin-left: -40%;
	top: 10%;
	height: 80%;
	min-height: 300px;
	padding: 15px;

	/* https://www.safaribooksonline.com/library/view/sass-and-compass/9781849694544/ch04s09.html
	https://robots.thoughtbot.com/controlling-color-with-sass-color-functions
	*/
	border: 3px solid transparentize(darken($select_sub_entity_color, 25%), 0.5);
	background-color: transparentize($select_sub_entity_color, 0.05);
	@include border-radius(15px);
	/* color h-shadow v-shadow blur spread color inset*/
	@include box-shadow(10px 10px 5px 5px transparentize(darken($select_sub_entity_color, 15%), 0.75));

	.mcm_title{
		border-bottom: 3px solid darken($select_sub_entity_color, 25%);
		background-color: $select_sub_entity_color;
		text-align: center;
		color: lighten($select_sub_entity_color, 35%);
		font-weight: bold;
		padding-top: 3px;
		padding-bottom: 3px;
		height: $select_sub_entity_title_size*1.5;
		@include border-top-right-radius(15px);
		@include border-top-left-radius(15px);
	}

	.mcm_close{
		position: absolute;
		background-color: #dddddd;
		border: solid 3px #555555;
		font-weight: bold;
		color: #888888;
		font-size: $select_sub_entity_title_size;
		padding: 0.1*$select_sub_entity_title_size;
		padding-left: $select_sub_entity_title_size;
		padding-right: $select_sub_entity_title_size;
		@include border-radius(15px);
		right: $select_sub_entity_title_size*0.1;
		top: $select_sub_entity_title_size*0.1;
		z-index: 101;

		cursor: pointer;

		&:hover{
			background-color: #ffffff;
		}
	}

	.mcm_path{
		display: block;
		border: 1px solid blue;
		@include border-top-right-radius(15px);
		@include border-top-left-radius(15px);
		height: $select_sub_entity_title_size;

		.mcm_label{
			display: inline-block;
			border-right: 1px solid orange;
			width: 5em;
		}
		.mcm_value{
			display: inline-block;
		}
	}

	.variable_operator_name{
		margin-top: 10px;
		margin-left: 10px;
		padding: 5px;
		text-align: center;
		size:100;
		font-size: 22px;
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		@include border-radius(25px, 25px);
	}
	.variable_operators{
		height: 50%;
		text-align: center;
		margin: 15px;
		overflow-y: auto;

		.list{
			width: 80%;
			margin-left: 10%;
			margin-right: 10%;
			text-align: center;
			.active-selection{
				background-color: #eee;
			}
			.title_name{
				font-weight: bold;
				color: white;
				text-align: center;
				background-color: #aaaaaa;
			}
			tr{
				 &:hover{
			     cursor: pointer;
			     background-color: #cccccc;
			  }
			}
			th, td {
				padding: 5px;
				border-bottom: 1px solid black;
			}

			a{
				color: white;
				cursor: pointer;
			}
		}
	}

	ul {
		/* neccessery to both dimensions be visible, to make dragging visible outside the dom borders */
		overflow-y: scroll;
		position: relative;
		padding-left: 20%;
		padding-right: 20%;

		li {
			list-style-type: none;
			display: block;
			background-color: lighten($select_sub_entity_entity_color, 5%);
			border: 1px solid $select_sub_entity_entity_color;
			margin: 25px 10px;
			padding: 10px;
			padding-right: 25px;
			@include border-radius(10px, 10px);
			cursor: pointer;
			text-align: center;
			color: lighten($select_sub_entity_entity_color, 15%);
			/* http://compass-style.org/reference/compass/css3/box_shadow/#mixin-box-shadow */
			/* color h-shadow v-shadow blur spread color inset*/
			@include box-shadow(3px 2px 3px 1px rgba(150, 150, 255, 0.75));

			@include transition-property(color);
			@include transition-property(background-color);
			@include transition-duration(0.3s);
			@include transition-timing-function(ease-in);

			&:hover{
				background-color: lighten($select_sub_entity_entity_color, 10%);
				color: darken($select_sub_entity_entity_color, 5%);
			}
		}
	}

	.buttons{
		text-align: center;
	}
}

.mcm_map_select_object{
	position: absolute;
	width: 80%;
	z-index: 100;
	left: 50%;
	margin-left: -40%;
	top: 10%;
	height: 80%;
	min-height: 300px;
	padding: 15px;

	/* https://www.safaribooksonline.com/library/view/sass-and-compass/9781849694544/ch04s09.html
	https://robots.thoughtbot.com/controlling-color-with-sass-color-functions
	*/
	border: 3px solid transparentize(darken($select_sub_entity_color, 25%), 0.5);
	background-color: transparentize($select_sub_entity_color, 0.05);
	@include border-radius(15px);
	/* color h-shadow v-shadow blur spread color inset*/
	@include box-shadow(10px 10px 5px 5px transparentize(darken($select_sub_entity_color, 15%), 0.75));

	.mcm_title{
		border-bottom: 3px solid darken($select_sub_entity_color, 25%);
		background-color: $select_sub_entity_color;
		text-align: center;
		color: lighten($select_sub_entity_color, 35%);
		font-weight: bold;
		padding-top: 3px;
		padding-bottom: 3px;
		height: $select_sub_entity_title_size*1.5;
		@include border-top-right-radius(15px);
		@include border-top-left-radius(15px);
	}

	.mcm_close{
		position: absolute;
		background-color: #dddddd;
		border: solid 3px #555555;
		font-weight: bold;
		color: #888888;
		font-size: $select_sub_entity_title_size;
		padding: 0.1*$select_sub_entity_title_size;
		padding-left: $select_sub_entity_title_size;
		padding-right: $select_sub_entity_title_size;
		@include border-radius(15px);
		right: $select_sub_entity_title_size*0.1;
		top: $select_sub_entity_title_size*0.1;
		z-index: 101;

		cursor: pointer;

		&:hover{
			background-color: #ffffff;
		}
	}

	.mcm_path{
		display: block;
		border: 1px solid blue;
		@include border-top-right-radius(15px);
		@include border-top-left-radius(15px);
		height: $select_sub_entity_title_size;

		.mcm_label{
			display: inline-block;
			border-right: 1px solid orange;
			width: 5em;
		}
		.mcm_value{
			display: inline-block;
		}
	}

	.object_name{
		margin-top: 10px;
		margin-left: 10px;
		padding: 5px;
		text-align: center;
		size:100;
		font-size: 22px;
		width: 50%;
		margin-left: 10%;
		margin-right: 10%;
		@include border-radius(25px, 25px);
	}
	.objects{
		height: 50%;
		text-align: center;
		margin: 15px;
		overflow-y: auto;

		.list{
			width: 80%;
			margin-left: 10%;
			margin-right: 10%;
			text-align: center;
			.active-selection{
				background-color: #eee;
			}
			.title_name{
				font-weight: bold;
				color: white;
				text-align: center;
				background-color: #aaaaaa;
			}
			tr{
				 &:hover{
			     cursor: pointer;
			     background-color: #cccccc;
			  }
			}
			th, td {
				padding: 5px;
				border-bottom: 1px solid black;
			}

			a{
				color: white;
				cursor: pointer;
			}
		}
	}

	ul {
		/* neccessery to both dimensions be visible, to make dragging visible outside the dom borders */
		overflow-y: scroll;
		position: relative;
		padding-left: 20%;
		padding-right: 20%;

		li {
			list-style-type: none;
			display: block;
			background-color: lighten($select_sub_entity_entity_color, 5%);
			border: 1px solid $select_sub_entity_entity_color;
			margin: 25px 10px;
			padding: 10px;
			padding-right: 25px;
			@include border-radius(10px, 10px);
			cursor: pointer;
			text-align: center;
			color: lighten($select_sub_entity_entity_color, 15%);
			/* http://compass-style.org/reference/compass/css3/box_shadow/#mixin-box-shadow */
			/* color h-shadow v-shadow blur spread color inset*/
			@include box-shadow(3px 2px 3px 1px rgba(150, 150, 255, 0.75));

			@include transition-property(color);
			@include transition-property(background-color);
			@include transition-duration(0.3s);
			@include transition-timing-function(ease-in);

			&:hover{
				background-color: lighten($select_sub_entity_entity_color, 10%);
				color: darken($select_sub_entity_entity_color, 5%);
			}
		}
	}

	.buttons{
		text-align: center;
	}
}

.mcm_map_select_process{
	position: absolute;
	width: 80%;
	z-index: 100;
	left: 50%;
	margin-left: -40%;
	top: 10%;
	height: 80%;
	min-height: 300px;
	padding: 15px;

	/* https://www.safaribooksonline.com/library/view/sass-and-compass/9781849694544/ch04s09.html
	https://robots.thoughtbot.com/controlling-color-with-sass-color-functions
	*/
	border: 3px solid transparentize(darken($select_sub_entity_color, 25%), 0.5);
	background-color: transparentize($select_sub_entity_color, 0.05);
	@include border-radius(15px);
	/* color h-shadow v-shadow blur spread color inset*/
	@include box-shadow(10px 10px 5px 5px transparentize(darken($select_sub_entity_color, 15%), 0.75));

	.mcm_title{
		border-bottom: 3px solid darken($select_sub_entity_color, 25%);
		background-color: $select_sub_entity_color;
		text-align: center;
		color: lighten($select_sub_entity_color, 35%);
		font-weight: bold;
		padding-top: 3px;
		padding-bottom: 3px;
		height: $select_sub_entity_title_size*1.5;
		@include border-top-right-radius(15px);
		@include border-top-left-radius(15px);
	}

	.mcm_close{
		position: absolute;
		background-color: #dddddd;
		border: solid 3px #555555;
		font-weight: bold;
		color: #888888;
		font-size: $select_sub_entity_title_size;
		padding: 0.1*$select_sub_entity_title_size;
		padding-left: $select_sub_entity_title_size;
		padding-right: $select_sub_entity_title_size;
		@include border-radius(15px);
		right: $select_sub_entity_title_size*0.1;
		top: $select_sub_entity_title_size*0.1;
		z-index: 101;

		cursor: pointer;

		&:hover{
			background-color: #ffffff;
		}
	}

	.mcm_path{
		display: block;
		border: 1px solid blue;
		@include border-top-right-radius(15px);
		@include border-top-left-radius(15px);
		height: $select_sub_entity_title_size;

		.mcm_label{
			display: inline-block;
			border-right: 1px solid orange;
			width: 5em;
		}
		.mcm_value{
			display: inline-block;
		}
	}

	.process_name{
		margin-top: 10px;
		margin-left: 10px;
		padding: 5px;
		text-align: center;
		size:100;
		font-size: 22px;
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		@include border-radius(25px, 25px);
	}
	.processs{
		height: 50%;
		text-align: center;
		margin: 15px;
		overflow-y: auto;

		.list{
			width: 80%;
			margin-left: 10%;
			margin-right: 10%;
			text-align: center;
			.active-selection{
				background-color: #eee;
			}
			.title_name{
				font-weight: bold;
				color: white;
				text-align: center;
				background-color: #aaaaaa;
			}
			tr{
				 &:hover{
			     cursor: pointer;
			     background-color: #cccccc;
			  }
			}
			th, td {
				padding: 5px;
				border-bottom: 1px solid black;
			}

			a{
				color: white;
				cursor: pointer;
			}
		}
	}

	ul {
		/* neccessery to both dimensions be visible, to make dragging visible outside the dom borders */
		overflow-y: scroll;
		position: relative;
		padding-left: 20%;
		padding-right: 20%;

		li {
			list-style-type: none;
			display: block;
			background-color: lighten($select_sub_entity_entity_color, 5%);
			border: 1px solid $select_sub_entity_entity_color;
			margin: 25px 10px;
			padding: 10px;
			padding-right: 25px;
			@include border-radius(10px, 10px);
			cursor: pointer;
			text-align: center;
			color: lighten($select_sub_entity_entity_color, 15%);
			/* http://compass-style.org/reference/compass/css3/box_shadow/#mixin-box-shadow */
			/* color h-shadow v-shadow blur spread color inset*/
			@include box-shadow(3px 2px 3px 1px rgba(150, 150, 255, 0.75));

			@include transition-property(color);
			@include transition-property(background-color);
			@include transition-duration(0.3s);
			@include transition-timing-function(ease-in);

			&:hover{
				background-color: lighten($select_sub_entity_entity_color, 10%);
				color: darken($select_sub_entity_entity_color, 5%);
			}
		}
	}

	.buttons{
		text-align: center;
	}
}

.mcm_map_select_grid{
	position: absolute;
	width: 80%;
	z-index: 100;
	left: 50%;
	margin-left: -40%;
	top: 10%;
	height: 80%;
	min-height: 300px;
	padding: 15px;

	/* https://www.safaribooksonline.com/library/view/sass-and-compass/9781849694544/ch04s09.html
	https://robots.thoughtbot.com/controlling-color-with-sass-color-functions
	*/
	border: 3px solid transparentize(darken($select_sub_entity_color, 25%), 0.5);
	background-color: transparentize($select_sub_entity_color, 0.05);
	@include border-radius(15px);
	/* color h-shadow v-shadow blur spread color inset*/
	@include box-shadow(10px 10px 5px 5px transparentize(darken($select_sub_entity_color, 15%), 0.75));

	.mcm_title{
		border-bottom: 3px solid darken($select_sub_entity_color, 25%);
		background-color: $select_sub_entity_color;
		text-align: center;
		color: lighten($select_sub_entity_color, 35%);
		font-weight: bold;
		padding-top: 3px;
		padding-bottom: 3px;
		height: $select_sub_entity_title_size*1.5;
		@include border-top-right-radius(15px);
		@include border-top-left-radius(15px);
	}

	.mcm_close{
		position: absolute;
		background-color: #dddddd;
		border: solid 3px #555555;
		font-weight: bold;
		color: #888888;
		font-size: $select_sub_entity_title_size;
		padding: 0.1*$select_sub_entity_title_size;
		padding-left: $select_sub_entity_title_size;
		padding-right: $select_sub_entity_title_size;
		@include border-radius(15px);
		right: $select_sub_entity_title_size*0.1;
		top: $select_sub_entity_title_size*0.1;
		z-index: 101;

		cursor: pointer;

		&:hover{
			background-color: #ffffff;
		}
	}

	.mcm_path{
		display: block;
		border: 1px solid blue;
		@include border-top-right-radius(15px);
		@include border-top-left-radius(15px);
		height: $select_sub_entity_title_size;

		.mcm_label{
			display: inline-block;
			border-right: 1px solid orange;
			width: 5em;
		}
		.mcm_value{
			display: inline-block;
		}
	}

	.grid_name{
		margin-top: 10px;
		margin-left: 10px;
		padding: 5px;
		text-align: center;
		size:100;
		font-size: 22px;
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		@include border-radius(25px, 25px);
	}
	.grids{
		height: 50%;
		text-align: center;
		margin: 15px;
		overflow-y: auto;

		.list{
			width: 80%;
			margin-left: 10%;
			margin-right: 10%;
			text-align: center;
			.active-selection{
				background-color: #eee;
			}
			.title_name{
				font-weight: bold;
				color: white;
				text-align: center;
				background-color: #aaaaaa;
			}
			tr{
				 &:hover{
			     cursor: pointer;
			     background-color: #cccccc;
			  }
			}
			th, td {
				padding: 5px;
				border-bottom: 1px solid black;
			}

			a{
				color: white;
				cursor: pointer;
			}
		}
	}

	ul {
		/* neccessery to both dimensions be visible, to make dragging visible outside the dom borders */
		overflow-y: scroll;
		position: relative;
		padding-left: 20%;
		padding-right: 20%;

		li {
			list-style-type: none;
			display: block;
			background-color: lighten($select_sub_entity_entity_color, 5%);
			border: 1px solid $select_sub_entity_entity_color;
			margin: 25px 10px;
			padding: 10px;
			padding-right: 25px;
			@include border-radius(10px, 10px);
			cursor: pointer;
			text-align: center;
			color: lighten($select_sub_entity_entity_color, 15%);
			/* http://compass-style.org/reference/compass/css3/box_shadow/#mixin-box-shadow */
			/* color h-shadow v-shadow blur spread color inset*/
			@include box-shadow(3px 2px 3px 1px rgba(150, 150, 255, 0.75));

			@include transition-property(color);
			@include transition-property(background-color);
			@include transition-duration(0.3s);
			@include transition-timing-function(ease-in);

			&:hover{
				background-color: lighten($select_sub_entity_entity_color, 10%);
				color: darken($select_sub_entity_entity_color, 5%);
			}
		}
	}

	.buttons{
		text-align: center;
	}
}

/*
	mcm_map_select_sub_entity
*/

$select_sub_entity_color: #888888;
$select_sub_entity_entity_color: #8888FF;
$select_sub_entity_title_size: 1em;

.mcm_map_select_sub_entity{
	position: absolute;
	width: 80%;
	z-index: 100;
	left: 50%;
	margin-left: -40%;
	top: 10%;
	height: 80%;
	/* https://www.safaribooksonline.com/library/view/sass-and-compass/9781849694544/ch04s09.html
	https://robots.thoughtbot.com/controlling-color-with-sass-color-functions
	*/
	border: 3px solid transparentize(darken($select_sub_entity_color, 25%), 0.5);
	background-color: transparentize($select_sub_entity_color, 0.25);
	@include border-radius(15px);
	/* color h-shadow v-shadow blur spread color inset*/
	@include box-shadow(10px 10px 5px 5px transparentize(darken($select_sub_entity_color, 15%), 0.75));

	.mcm_title{
		border-bottom: 3px solid darken($select_sub_entity_color, 25%);
		background-color: $select_sub_entity_color;
		text-align: center;
		color: lighten($select_sub_entity_color, 35%);
		font-weight: bold;
		padding-top: 3px;
		padding-bottom: 3px;
		height: $select_sub_entity_title_size*1.5;
		@include border-top-right-radius(15px);
		@include border-top-left-radius(15px);
	}

	.mcm_close{
		position: absolute;
		background-color: #dddddd;
		border: solid 3px #555555;
		font-weight: bold;
		color: #888888;
		font-size: $select_sub_entity_title_size;
		padding: 0.1*$select_sub_entity_title_size;
		padding-left: $select_sub_entity_title_size;
		padding-right: $select_sub_entity_title_size;
		@include border-radius(15px);
		right: $select_sub_entity_title_size*0.1;
		top: $select_sub_entity_title_size*0.1;
		z-index: 101;

		cursor: pointer;

		&:hover{
			background-color: #ffffff;
		}
	}

	.mcm_path{
		display: block;
		border: 1px solid blue;
		@include border-top-right-radius(15px);
		@include border-top-left-radius(15px);
		height: $select_sub_entity_title_size;

		.mcm_label{
			display: inline-block;
			border-right: 1px solid orange;
			width: 5em;
		}
		.mcm_value{
			display: inline-block;
		}
	}

	ul {
		/* neccessery to both dimensions be visible, to make dragging visible outside the dom borders */
		overflow-y: scroll;
		position: relative;
		padding-left: 20%;
		padding-right: 20%;

		li {
			list-style-type: none;
			display: block;
			background-color: lighten($select_sub_entity_entity_color, 5%);
			border: 1px solid $select_sub_entity_entity_color;
			margin: 25px 10px;
			padding: 10px;
			padding-right: 25px;
			@include border-radius(10px, 10px);
			cursor: pointer;
			text-align: center;
			color: lighten($select_sub_entity_entity_color, 15%);
			/* http://compass-style.org/reference/compass/css3/box_shadow/#mixin-box-shadow */
			/* color h-shadow v-shadow blur spread color inset*/
			@include box-shadow(3px 2px 3px 1px rgba(150, 150, 255, 0.75));

			@include transition-property(color);
			@include transition-property(background-color);
			@include transition-duration(0.3s);
			@include transition-timing-function(ease-in);

			&:hover{
				background-color: lighten($select_sub_entity_entity_color, 10%);
				color: darken($select_sub_entity_entity_color, 5%);
			}
		}
	}

	.buttons{
		text-align: center;
		height: 2.5em;
		padding-top: 1em;
	}

	.selected_entity{
		text-align: center;
		font-weight: bold;
		padding-top: 0.1em;
		.title{
			color: black;
		}
		.value{
			color: white;
		}
	}

	.knalledge_map_selectable{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: $select_sub_entity_title_size* (1.5 + 1) + 4em;

		.knalledge_map_select_sub_entity{
			position: relative;
			width: 100%;
			height: 100%;
		}

		/*
		Overwriting standard knalledge settings
		*/
		.knalledge_map_container{
			.node_unselected{
				border-style: transparent;
			}

			.node_unselectable{
				border-style: dashed;
				opacity: 0.5;
				font-weight: normal;
			}

			.node_selectable{
				border-style: solid;
				background-color: rgba(200, 200, 255, 0.5);
			}

			.node_selected{
				border-style: solid;
				border-color: #0000aa;
				border-width: 3px;
				@include box-shadow(5px 5px 3px 3px rgba(80, 80, 255, 0.75));
			}

		}
	}
}

.mcm_import_assumptions{
	position: relative;
	width: 80%;
	z-index: 100;
	left: 50%;
	margin-left: -40%;
	top: 10%;
	height: 80%;
	min-height: 300px;
	padding: 15px;

	/* https://www.safaribooksonline.com/library/view/sass-and-compass/9781849694544/ch04s09.html
	https://robots.thoughtbot.com/controlling-color-with-sass-color-functions
	*/
	border: 3px solid transparentize(darken($select_sub_entity_color, 25%), 0.5);
	background-color: transparentize($select_sub_entity_color, 0.05);
	@include border-radius(15px);
	/* color h-shadow v-shadow blur spread color inset*/
	@include box-shadow(10px 10px 5px 5px transparentize(darken($select_sub_entity_color, 15%), 0.75));

	.assumptions{
		height: 50%;
		text-align: center;
		margin: 15px;
		overflow-y: auto;

		.list{
			width: 80%;
			margin-left: 10%;
			margin-right: 10%;
			text-align: center;
			.active-selection{
				background-color: #eee;
			}
			.title_name{
				font-weight: bold;
				color: white;
				text-align: center;
				background-color: #aaaaaa;
			}
			tr{
				 &:hover{
			     cursor: pointer;
			     background-color: #cccccc;
			  }
			}
			th, td {
				padding: 5px;
				border-bottom: 1px solid black;
			}

			a{
				color: white;
				cursor: pointer;
			}
		}
	}

	.buttons{
		text-align: center;
	}
}

.mcm_import_variables{
	position: relative;
	width: 80%;
	z-index: 100;
	left: 50%;
	margin-left: -40%;
	top: 10%;
	height: 80%;
	min-height: 300px;
	padding: 15px;

	/* https://www.safaribooksonline.com/library/view/sass-and-compass/9781849694544/ch04s09.html
	https://robots.thoughtbot.com/controlling-color-with-sass-color-functions
	*/
	border: 3px solid transparentize(darken($select_sub_entity_color, 25%), 0.5);
	background-color: transparentize($select_sub_entity_color, 0.05);
	@include border-radius(15px);
	/* color h-shadow v-shadow blur spread color inset*/
	@include box-shadow(10px 10px 5px 5px transparentize(darken($select_sub_entity_color, 15%), 0.75));

	.variables{
		height: 50%;
		text-align: center;
		margin: 15px;
		overflow-y: auto;

		.list{
			width: 80%;
			margin-left: 10%;
			margin-right: 10%;
			text-align: center;
			.active-selection{
				background-color: #eee;
			}
			.title_name{
				font-weight: bold;
				color: white;
				text-align: center;
				background-color: #aaaaaa;
			}
			tr{
				 &:hover{
			     cursor: pointer;
			     background-color: #cccccc;
			  }
			}
			th, td {
				padding: 5px;
				border-bottom: 1px solid black;
			}

			a{
				color: white;
				cursor: pointer;
			}
		}
	}

	.buttons{
		text-align: center;
	}
}

$color_preferences_border: gray;
.mcm-preferences{
			text-align: center;
			position: relative;
			display: block;
			border: 1px solid $color_preferences_border;
			padding: 10px;
			margin: 5px;
			margin-top: 15px;
			width: 80%;
			left: 50%;
			margin-left: -40%;
			@include border-radius(10px, 10px);
			@include box-shadow(4px 3px 7px 2px rgba(150, 150, 255, 0.75));
}

mcm-select-entity{
	md-list-item{
		cursor: pointer;
	}
}

.md-overlay-container{
	height: 90%;

	.md-overlay-pane{
		height: 90%;

		.md-dialog{
			height: 100%;
		}
	}
}
