/*http://stackoverflow.com/questions/8061166/syntax-to-include-separate-sass-file*/
/* @import "normalize"; */
@media (min-width: 680px) {
  /* line 28, ../sass/default.scss */
  .mcm_map_tools {
    height: 100%;
    min-height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%; }

  /* line 34, ../sass/default.scss */
  .mcm_map {
    height: 100%;
    min-height: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 83.33333%;
    float: right;
    padding-left: 0.83333%;
    padding-right: 0.83333%; }

  /* line 40, ../sass/default.scss */
  .mcm_map_list {
    height: 100%;
    min-height: 100%;
    /*@include span(3 at 1); */ } }
@media (min-width: 800px) {
  /* line 48, ../sass/default.scss */
  .mcm_map_tools {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 8.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%; }

  /* line 52, ../sass/default.scss */
  .mcm_map {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%; }

  /* line 56, ../sass/default.scss */
  .mcm_map_list {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%; } }
@media (min-width: 1400px) {
  /* line 62, ../sass/default.scss */
  .mcm_map_tools {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 8.33333%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%; }

  /* line 66, ../sass/default.scss */
  .mcm_map {
    /* make #content content occupying 2 cells less on large screens */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%; }

  /* line 71, ../sass/default.scss */
  .mcm_map_list {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.66667%;
    float: left;
    padding-left: 0.83333%;
    padding-right: 0.83333%; } }
/* line 76, ../sass/default.scss */
.mcm_map_index {
  position: relative;
  height: 100%;
  width: 100%;
  /*background-color: #dddd00;
  border: solid 1px #aaaa00;*/
  overflow-x: hidden;
  overflow-y: scroll; }

/* ------------------------
 mcm_map_tools
------------------------ */
/* line 90, ../sass/default.scss */
.mcm_map_tools {
  z-index: 10;
  position: relative;
  height: 100%;
  /* neccessery to both dimensions be visible, to make dragging visible outside the dom borders */
  overflow: visible;
  /*	overflow-x: visible;
  	overflow-y: scroll;
  */ }
  /* line 99, ../sass/default.scss */
  .mcm_map_tools ul {
    /* neccessery to both dimensions be visible, to make dragging visible outside the dom borders */
    overflow: visible;
    /*	overflow-x: visible;can-drop
    	overflow-y: scroll;
    */
    position: relative; }
    /* line 107, ../sass/default.scss */
    .mcm_map_tools ul li {
      position: absolute;
      list-style-type: none;
      display: block;
      border: 1px solid gray;
      padding: 10px;
      padding-right: 25px;
      margin: 3px;
      -moz-border-radius: 10px / 10px;
      -webkit-border-radius: 10px 10px;
      border-radius: 10px / 10px;
      /* http://compass-style.org/reference/compass/css3/box_shadow/#mixin-box-shadow */
      /* color h-shadow v-shadow blur spread color inset*/
      -moz-box-shadow: 4px 3px 7px 2px rgba(150, 150, 255, 0.75);
      -webkit-box-shadow: 4px 3px 7px 2px rgba(150, 150, 255, 0.75);
      box-shadow: 4px 3px 7px 2px rgba(150, 150, 255, 0.75); }

/* ------------------------
 mcm_map
------------------------ */
/* line 130, ../sass/default.scss */
.mcm_map {
  z-index: 8;
  position: relative;
  height: 100%;
  overflow: scroll; }

@media print {
  /*	#map-canvas {
  		height: 650px;
  	}
  */ }
/* line 144, ../sass/default.scss */
.map-container {
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 5;
  position: relative;
  background-color: #ddddff;
  border: solid 1px #aaaaff;
  overflow-x: scroll;
  overflow-y: scroll;
  -moz-border-radius: 10px / 10px;
  -webkit-border-radius: 10px 10px;
  border-radius: 10px / 10px; }

/* line 157, ../sass/default.scss */
.map_svg {
  height: 100%;
  width: 100%;
  position: absolute;
  /*background-color: #ffffaa;*/
  z-index: 1; }

/* line 165, ../sass/default.scss */
.map_html {
  height: 100%;
  width: 100%;
  position: absolute;
  /*background-color: #ffffaa;*/
  z-index: 2; }

/* line 173, ../sass/default.scss */
.map_entity {
  width: 100px;
  height: 50px;
  position: absolute;
  background-color: #ccf;
  border: 3px solid gray;
  padding: 10px;
  margin: 3px;
  z-index: 1;
  -moz-border-radius: 10px / 10px;
  -webkit-border-radius: 10px 10px;
  border-radius: 10px / 10px;
  /* http://compass-style.org/reference/compass/css3/box_shadow/#mixin-box-shadow */
  /* color h-shadow v-shadow blur spread color inset*/
  -moz-box-shadow: 2px 1px 3px 1px rgba(150, 150, 255, 0.75);
  -webkit-box-shadow: 2px 1px 3px 1px rgba(150, 150, 255, 0.75);
  box-shadow: 2px 1px 3px 1px rgba(150, 150, 255, 0.75);
  /* entity stylings */ }
  /* line 187, ../sass/default.scss */
  .map_entity .status {
    position: absolute;
    left: -10px;
    top: -10px;
    background-color: yellow;
    border: 2px solid red;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    font-weight: bold;
    -moz-border-radius: 10px / 10px;
    -webkit-border-radius: 10px 10px;
    border-radius: 10px / 10px; }
  /* line 201, ../sass/default.scss */
  .map_entity .var_in {
    position: absolute;
    left: -0.5em;
    bottom: 15px;
    font-size: 0.99999em;
    text-align: center;
    font-weight: bold;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0px;
    padding-bottom: 0px;
    /* http://sassme.arc90.com/ */
    background-color: #80ff80;
    border: 2px solid green;
    color: #006600;
    -moz-border-radius-topright: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
    -moz-border-radius-bottomright: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    /*		&:before {
    			@include box-sizing(content-box);
    			content: '';
    			position: absolute;
    			top: -$variable_border_size;
    			left: -$variable_font_size/2;
    			color: red;
    			height: 50%;
    			width: $variable_font_size/2;
    			background: red;
    			border: $variable_border_size solid red;
    			@include skew(25deg, 0deg);
    		}
    		&:after {
    			@include box-sizing(content-box);
    			content: '';
    			position: absolute;
    			bottom: -$variable_border_size;
    			left: -$variable_font_size/2;
    			color: red;
    			height: 50%;
    			width: $variable_font_size/2;
    			background: red;
    			border: $variable_border_size solid red;
    			@include skew(-25deg, 0deg);
    		}
    */ }
  /* line 249, ../sass/default.scss */
  .map_entity .var_out {
    position: absolute;
    right: -0.5em;
    bottom: 15px;
    /*		height: $variable_font_size;
    */
    font-size: 0.99999em;
    text-align: center;
    font-weight: bold;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #80ff80;
    border: 2px solid green;
    color: #006600;
    -moz-border-radius-topright: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
    -moz-border-radius-bottomright: 0.5em;
    -webkit-border-bottom-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    /*		&:before {
    			@include box-sizing(content-box);
    			content: '';
    			position: absolute;
    			top: -$variable_border_size;
    			left: -$variable_font_size/2;
    			color: red;
    			height: 50%;
    			width: $variable_font_size/2;
    			background: red;
    			border: $variable_border_size solid red;
    			@include skew(25deg, 0deg);
    		}
    		&:after {
    			@include box-sizing(content-box);
    			content: '';
    			position: absolute;
    			bottom: -$variable_border_size;
    			left: -$variable_font_size/2;
    			color: red;
    			height: 50%;
    			width: $variable_font_size/2;
    			background: red;
    			border: $variable_border_size solid red;
    			@include skew(-25deg, 0deg);
    		}*/ }
  /* line 297, ../sass/default.scss */
  .map_entity .type {
    position: absolute;
    right: -15px;
    bottom: -15px;
    background-color: rgba(200, 200, 255, 0.5);
    border: 2px solid rgba(100, 100, 255, 0.25);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #555f;
    font-style: italic;
    -moz-border-radius: 5px / 5px;
    -webkit-border-radius: 5px 5px;
    border-radius: 5px / 5px; }
  /* line 314, ../sass/default.scss */
  .map_entity .name {
    position: relative;
    padding: 3px;
    /*background-color: yellow;*/ }
  /* line 326, ../sass/default.scss */
  .map_entity.selected {
    border-color: #ffa;
    border-width: 3px; }
  /* line 336, ../sass/default.scss */
  .map_entity.map_entity_model {
    background-color: #888; }
  /* line 340, ../sass/default.scss */
  .map_entity.map_entity_object {
    background-color: #ccc; }
  /* line 344, ../sass/default.scss */
  .map_entity.map_entity_process {
    background-color: #aaf; }

/* ------------------------
 mcm_map_list
------------------------ */
/* line 361, ../sass/default.scss */
.mcm_map_list {
  z-index: 9; }

/* ------------------------
 interaction
------------------------ */
/* line 369, ../sass/default.scss */
.dropzone {
  background-color: #ccc;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  transition: background-color 0.3s; }

/* line 377, ../sass/default.scss */
.drop-active {
  border: 3px dotted red; }

/* line 381, ../sass/default.scss */
.drop-target {
  background-color: #4bf;
  border-color: #f88;
  border-style: solid;
  border-width: 5px; }

/* line 388, ../sass/default.scss */
.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 2em 0.5em;
  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  transition: background-color 0.3s; }

/* line 403, ../sass/default.scss */
.drag-drop.can-drop {
  border: 3px solid green; }

/*
	mcm_map_select_sub_entity
*/
/* line 415, ../sass/default.scss */
.mcm_map_select_sub_entity {
  position: absolute;
  width: 80%;
  z-index: 100;
  left: 50%;
  margin-left: -40%;
  top: 10%;
  height: 80%;
  /* https://www.safaribooksonline.com/library/view/sass-and-compass/9781849694544/ch04s09.html 
  https://robots.thoughtbot.com/controlling-color-with-sass-color-functions
  */
  border: 3px solid rgba(72, 72, 72, 0.5);
  background-color: rgba(136, 136, 136, 0.75);
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  /* color h-shadow v-shadow blur spread color inset*/
  -moz-box-shadow: 10px 10px 5px 5px rgba(98, 98, 98, 0.25);
  -webkit-box-shadow: 10px 10px 5px 5px rgba(98, 98, 98, 0.25);
  box-shadow: 10px 10px 5px 5px rgba(98, 98, 98, 0.25); }
  /* line 432, ../sass/default.scss */
  .mcm_map_select_sub_entity .mcm_title {
    border-bottom: 3px solid #484848;
    background-color: #888888;
    text-align: center;
    color: #e1e1e1;
    font-weight: bold;
    padding-top: 3px;
    padding-bottom: 3px;
    height: 1.5em;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -webkit-border-top-left-radius: 15px;
    border-top-left-radius: 15px; }
  /* line 445, ../sass/default.scss */
  .mcm_map_select_sub_entity .mcm_close {
    position: absolute;
    background-color: #dddddd;
    border: solid 3px #555555;
    font-weight: bold;
    color: #888888;
    font-size: 1em;
    padding: 0.1em;
    padding-left: 1em;
    padding-right: 1em;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    right: 0.1em;
    top: 0.1em;
    z-index: 101;
    cursor: pointer; }
    /* line 462, ../sass/default.scss */
    .mcm_map_select_sub_entity .mcm_close:hover {
      background-color: #ffffff; }
  /* line 467, ../sass/default.scss */
  .mcm_map_select_sub_entity .mcm_path {
    display: block;
    border: 1px solid blue;
    -moz-border-radius-topright: 15px;
    -webkit-border-top-right-radius: 15px;
    border-top-right-radius: 15px;
    -moz-border-radius-topleft: 15px;
    -webkit-border-top-left-radius: 15px;
    border-top-left-radius: 15px;
    height: 1em; }
    /* line 474, ../sass/default.scss */
    .mcm_map_select_sub_entity .mcm_path .mcm_label {
      display: inline-block;
      border-right: 1px solid orange;
      width: 5em; }
    /* line 479, ../sass/default.scss */
    .mcm_map_select_sub_entity .mcm_path .mcm_value {
      display: inline-block; }
  /* line 484, ../sass/default.scss */
  .mcm_map_select_sub_entity ul {
    /* neccessery to both dimensions be visible, to make dragging visible outside the dom borders */
    overflow-y: scroll;
    position: relative;
    padding-left: 20%;
    padding-right: 20%; }
    /* line 491, ../sass/default.scss */
    .mcm_map_select_sub_entity ul li {
      list-style-type: none;
      display: block;
      background-color: #a1a1ff;
      border: 1px solid #8888FF;
      margin: 25px 10px;
      padding: 10px;
      padding-right: 25px;
      -moz-border-radius: 10px / 10px;
      -webkit-border-radius: 10px 10px;
      border-radius: 10px / 10px;
      cursor: pointer;
      text-align: center;
      color: #d4d4ff;
      /* http://compass-style.org/reference/compass/css3/box_shadow/#mixin-box-shadow */
      /* color h-shadow v-shadow blur spread color inset*/
      -moz-box-shadow: 3px 2px 3px 1px rgba(150, 150, 255, 0.75);
      -webkit-box-shadow: 3px 2px 3px 1px rgba(150, 150, 255, 0.75);
      box-shadow: 3px 2px 3px 1px rgba(150, 150, 255, 0.75);
      -moz-transition-property: color;
      -o-transition-property: color;
      -webkit-transition-property: color;
      transition-property: color;
      -moz-transition-property: background-color;
      -o-transition-property: background-color;
      -webkit-transition-property: background-color;
      transition-property: background-color;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -moz-transition-timing-function: ease-in;
      -o-transition-timing-function: ease-in;
      -webkit-transition-timing-function: ease-in;
      transition-timing-function: ease-in; }
      /* line 512, ../sass/default.scss */
      .mcm_map_select_sub_entity ul li:hover {
        background-color: #bbbbff;
        color: #6e6eff; }
  /* line 519, ../sass/default.scss */
  .mcm_map_select_sub_entity .buttons {
    text-align: center; }
  /* line 523, ../sass/default.scss */
  .mcm_map_select_sub_entity .knalledge_map_selectable {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 2.5em; }
    /* line 530, ../sass/default.scss */
    .mcm_map_select_sub_entity .knalledge_map_selectable .knalledge_map_select_sub_entity {
      position: relative;
      width: 100%;
      height: 100%; }

/* line 542, ../sass/default.scss */
.mcm_map_list .mcm_title {
  display: block;
  border: 2px solid #888888;
  background-color: #bbbbbb;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  transition: background-color 0.3s; }
  /* line 550, ../sass/default.scss */
  .mcm_map_list .mcm_title .mcm_icon {
    display: inline-block;
    border-right: 2px solid #888888;
    width: 5em;
    padding-left: 1em;
    padding-right: 0.3em; }
  /* line 557, ../sass/default.scss */
  .mcm_map_list .mcm_title .mcm_name {
    display: inline-block;
    padding-right: 1em;
    padding-left: 0.3em; }
/* line 563, ../sass/default.scss */
.mcm_map_list .mcm_title_closed {
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #a2a2a2; }
