<div class="mapsList">
	<div class='showCreateNewMap'>
		<div ng-class="{ 'displayNone': modeCreating == true }" ng-click="showCreateNewMap()" class="mcmButton">Create a New Model Component</div>
	</div>
	<div class='creatingNewMap' ng-class="{ 'displayNone': modeCreating == false }">
		<form>
			<fieldset>
				<legend>New Model</legend>
				<div><label>Model Component Name</label><input type="text" ng-model="mapToCreate.name" /></div>
				<div><label>Part of Model</label><input class="image_url" type="text" ng-model="mapToCreate.parentMapId" /></div>
				<div><label>Model Version</label><input class="image_url" type="text" ng-model="mapToCreate.version" /></div>
				<div><label>Authors</label><input class="image_url" type="text" ng-model="mapToCreate.dataContent.mcm.authors" /></div>
		<!-- 		<label class="checkbox"><input type="checkbox"> Keep apsect-ratio</label>
		 -->
		 		<p class="buttons">
					<button class="btn btn-warning" ng-click="cancelled()">Cancel</button>
					<button class="btn btn-primary" type="submit" ng-click="createNew()">Create Model</button>
				</p>
			</fieldset>
		</form>
	
	</div>
	<span>Existing models:</span>
	<table class="list">
		<tr><th class="mcm_icon">id</th><th class="mcm_name">name</th></tr>
		<tr ng-repeat="map in maps" class="">
			<td>{{map._id}}</td>
			<td>{{map.name}}</td>
		</tr>
	</table>
</div>